In [5]:
import importlib

import pandas as pd

import holidays

importlib.reload(holidays)

In [6]:
holidays.Holidays.list_regional(country=['PT'])

    country  level1                  level2
16       PT  aveiro                  agueda
17       PT  aveiro      albergaria-a-velha
18       PT  aveiro                  anadia
19       PT  aveiro                  arouca
20       PT  aveiro                  aveiro
..      ...     ...                     ...
320      PT  acores                nordeste
321      PT  acores                 calheta
322      PT  acores           ponta-delgada
323      PT  acores                povoacao
324      PT  acores  santa-cruz-da-graciosa

[309 rows x 3 columns]

In [7]:
test = holidays.Holidays('2021-01-01', '2021-12-31')
print(test)
test.calculate(country='PT', extent=['national', 'regional'], level1=['aveiro'], level2=['agueda'])
# test._holidays

Holidays(start_date=2021-01-01, end_date=2021-12-31)

In [8]:
test.as_table()

,country,extent,label,calculate,date
0,PT,national,Ano Novo,january 1st,2021-01-01
1,PT,national,Carnaval,47 days before easter sunday on a tuesday,2021-02-16
2,PT,national,Sexta-Feira Santa,friday right before easter sunday,2021-04-02
3,PT,national,Pascoa,easter sunday,2021-04-04
4,PT,national,25 de Abril,april 25th,2021-04-25
5,PT,national,Dia do Trabalhador,may 1th,2021-05-01
6,PT,regional,Sao Geraldo,monday after pentacost sunday,2021-05-24
7,PT,national,Corpo de Deus,"60 days after easter sunday, on a thursday",2021-06-03
8,PT,national,Dia de Portugal,june 10th,2021-06-10
9,PT,national,Assuncao Maria,august 15th,2021-08-15
10,PT,national,Implatacao da Republica,october 5th,2021-10-05
11,PT,national,Todos os Santos,november 1st,2021-11-01
12,PT,national,Restauracao da Independencia,december 1st,2021-12-01
13,PT,national,Imaculada Conceicao,december 8th,2021-12-08
14,PT,national,Natal,december 25th,2021-12-25

In [9]:
test.as_list(drop=['calculate'])

[['PT', 'national', 'Ano Novo', '2021-01-01'],
 ['PT', 'national', 'Carnaval', '2021-02-16'],
 ['PT', 'national', 'Sexta-Feira Santa', '2021-04-02'],
 ['PT', 'national', 'Pascoa', '2021-04-04'],
 ['PT', 'national', '25 de Abril', '2021-04-25'],
 ['PT', 'national', 'Dia do Trabalhador', '2021-05-01'],
 ['PT', 'regional', 'Sao Geraldo', '2021-05-24'],
 ['PT', 'national', 'Corpo de Deus', '2021-06-03'],
 ['PT', 'national', 'Dia de Portugal', '2021-06-10'],
 ['PT', 'national', 'Assuncao Maria', '2021-08-15'],
 ['PT', 'national', 'Implatacao da Republica', '2021-10-05'],
 ['PT', 'national', 'Todos os Santos', '2021-11-01'],
 ['PT', 'national', 'Restauracao da Independencia', '2021-12-01'],
 ['PT', 'national', 'Imaculada Conceicao', '2021-12-08'],
 ['PT', 'national', 'Natal', '2021-12-25']]

In [218]:
# test.as_time_series()
test.as_time_series(sep_region=False, hot_encode=False)

           holiday
date
2021-01-01       1
2021-01-02       0
2021-01-03       0
2021-01-04       0
2021-01-05       0
...            ...
2021-12-27       0
2021-12-28       0
2021-12-29       0
2021-12-30       0
2021-12-31       0

[365 rows x 1 columns]

In [219]:
test.working_days()

            business_days
date
2021-01-10              5
2021-01-17              5
2021-01-24              5
2021-01-31              5
2021-02-07              5
2021-02-14              5
2021-02-21              4
2021-02-28              5
2021-03-07              5
2021-03-14              5
2021-03-21              5
2021-03-28              5
2021-04-04              4
2021-04-11              5
2021-04-18              5
2021-04-25              5
2021-05-02              5
2021-05-09              5
2021-05-16              5
2021-05-23              5
2021-05-30              4
2021-06-06              4
2021-06-13              4
2021-06-20              5
2021-06-27              5
2021-07-04              5
2021-07-11              5
2021-07-18              5
2021-07-25              5
2021-08-01              5
2021-08-08              5
2021-08-15              5
2021-08-22              5
2021-08-29              5
2021-09-05              5
2021-09-12              5
2021-09-19              5
2021-09-26              5
2021-10-03              5
2021-10-10              4
2021-10-17              5
2021-10-24              5
2021-10-31              5
2021-11-07              4
2021-11-14              5
2021-11-21              5
2021-11-28              5
2021-12-05              4
2021-12-12              4
2021-12-19              5
2021-12-26              5
2022-01-02              5